.custom-cursor {
    position: fixed;
    width: 10%; 
    padding: 10px;
    height: 20px;
    background-color:black;
    color: white; 
    pointer-events: none; 
    z-index: 9999; 
    mix-blend-mode: difference; 
    transform: translate(-50%, -50%);
    z-index: 999;
  }
  