@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Cardo&family=Dancing+Script:wght@700&family=Henny+Penny&family=Protest+Guerrilla&family=Protest+Revolution&family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Cardo&family=Dancing+Script:wght@700&family=Henny+Penny&family=Kode+Mono:wght@400..700&family=Protest+Guerrilla&family=Protest+Revolution&family=Protest+Strike&display=swap');


.logo {
    font-family: "Protest Revolution", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  font-size: 32px;
}
.menuItem {
  font-family: "Kode Mono", monospace !important;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;

}
